<div class="scrollable bank-login">
   <h1><a href="#"><img src="images/logo.png" alt=""></a></h1>
   <div class="login-header"><img src="images/login-header.png" alt=""></div>
   <form action="" class="login-form">
     <div class="login-list">
       <input type="text" placeholder="手机号/卡(账)号/用户名" class="login-inter" id="number">
       <span ng-click="clearValue();">x</span>
     </div>
      <div class="login-list login-list-password">
       <input type="text" placeholder="请输入密码" class="login-inter" id="pwd">
       <span ng-click="clearPwd();">x</span>
     </div>
   </form>

  <div class="red_btn">下一步</div>
</div>
