<div class="scrollable bank-login scrollable-content">
  <div class="scrollable-header">
    <header class="index_header">          
      <div class="go-back" ng-click=""></div>
      <div class="header-title"><p>注册</p><p>registe</p></div>
      <!-- <div class="circle-box cf" ng-click="visible=!visible"><span></span><span></span><span></span></div> -->
    </header>
  </div>
  <div class="select-box" ng-show="!visible">
    <ul>
      <li><i class="looking"></i><span>查找公众号</span><span class="line"></span></li>
      <li><i class="sweep"></i><span>扫一扫</span><span class="line"></span></li>
      <li><i class="service"></i><span>在线客服</span></li>
    </ul>
  </div>

   <form action="" class="login-form">

     <div class="login-list check-num">
       <input type="text" placeholder="請輸入手機號 Moblie No" class="login-inter" id="number">
     </div>  
     <div class="red_btn" style="margin: 0px; position: absolute; top: 60px; width: 35%; right: 16px; background: #c7c7c7;">驗證 checking</div>

     <div class="login-list">
       <input type="text" placeholder="請輸入手機號 Moblie No" class="login-inter" id="number">
      <!--  <span ng-click="clearValue();">x</span> -->
     </div>
     <div class="login-list login-list-password">
       <input type="text" placeholder="請輸入密碼 Password" class="login-inter" id="pwd">
       <!-- <span ng-click="clearPwd();">x</span> -->
     </div>
     <div class="login-list login-list-password">
       <input type="text" placeholder="請輸入密碼 Password" class="login-inter" id="pwd">
       <!-- <span ng-click="clearPwd();">x</span> -->
     </div>

   </form>


  <div class="red_btn">下一步 Next</div>
</div>
