<div class="scrollable bank-login scrollable-content">
  <div class="scrollable-header">
    <header class="index_header">          
      <div class="go-back" ng-click=""></div>
      <div class="header-title"><p>注册</p><p>registe</p></div>
      <!-- <div class="circle-box cf" ng-click="visible=!visible"><span></span><span></span><span></span></div> -->
    </header>
  </div>
  <div class="select-box" ng-show="!visible">
    <ul>
      <li><i class="looking"></i><span>查找公众号</span><span class="line"></span></li>
      <li><i class="sweep"></i><span>扫一扫</span><span class="line"></span></li>
      <li><i class="service"></i><span>在线客服</span></li>
    </ul>
  </div>

   <form action="" class="login-form" style="width: 100%;">

     <div style="color: #b7b7b7; padding-left: 20px; margin-bottom: 10px;">
        請選擇身份 Please select identity
     </div>

     <ul class="select-identity-ul">
        <li><div class="select-identity"/></div>學生 Student</li>
        <li><div class="select-identity"/></div>老人 Elderly</li>
        <li><div class="select-identity"/></div>工商銀行員工 ICBC employe</li>
     </ul>

   </form>


  <div class="red_btn">下一步 Next</div>
</div>
